# ===================================================================
# 1. MANIPULAÇÃO DE DADOS
# ===================================================================
pandas
numpy

# ===================================================================
# 2. EXPLORAÇÃO, VISUALIZAÇÃO E NOTEBOOKS
# ===================================================================
jupyter
matplotlib
seaborn
chardet

# ===================================================================
# 3. MACHINE LEARNING E MODELAGEM
# ===================================================================
xgboost
prophet
scikit-learn
# ===================================================================
# 4. ENGENHARIA DE FEATURES
# ===================================================================
holidays

# ===================================================================
# 5. DASHBOARD
# ===================================================================
streamlit

# ===================================================================
# 6. PROCESSAMENTO DE LINGUAGEM NATURAL (NLP)
# ===================================================================
spacy

# ===================================================================
# 7. CONEXÃO COM API
# Para o data_collection.py buscar dados na web
# ===================================================================
requests

# ===================================================================
# 8. IGNORAR ARQUVIO .ENV COM CHAVE DE API
# ==================================================================
python-dotenv
